.AdminPanelMenu{
    font-size: 1.8rem;
    background-color: black;
    color: #fff;
    font-weight: 400;
}

.Admin-Layout{
    height: 100vh;
    width: 100vw;

    
}
.Admin-Layout-Sider{
    /* position: fixed; */
    
}
.Admin-Content{
    background-color: green;
    
}
.Admin-Header{
    background-color: black;
    width: 100vw;
    color: white;
    padding: 1rem 0;
    padding-right: 10%;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
